.menu{
    display: none;
    position:fixed;
    width: 100vw;
    height:100vh;
    background-color: $primaryDark;
    z-index: 900;
    
    .close{
        width:15%;
        margin-left: auto;
        margin-top: 2%;

        i{
             color:rgba($primaryLight,0.5);
             font-size: 32px;
             &:hover{
                 color:rgba($primaryLight,0.8);
                 cursor: pointer;
             }
         } 
    }
    .menuContent{
        width:70%;
        height:70%;
        border: 2px solid red;
        margin: 7% auto;
        display: flex;
        li{
            color: $primaryLight;
            list-style: none;
            font-size: 24px;
            width:100%;
            border-bottom: .5px solid rgba($primaryLight,0.5);
        }
    }
}